<%= render 'shared/title', header: @post.title %>
<div class="post-options" %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= spacer %>
  <%= link_to "Delete", post_path(@post), data: {confirm: "Are you sure?", method: "delete"} %>
</div>


<div class='row'>
  <div class='well span8'>
    <p><%= @post.content %></p>
    <p>
      <span class='quiet'>posted by </span> <%= @post.user.email %>
      <small>at <%= fix_date_time(@post.created_at) %></small>
    </p>
  </div>
</div>


<h4> <%= "Comments (#{@post.comments.size})" %> </h4>

<% @comments.each do |comment| %>
  <div id='comments-display'>
    <%= render comment %>
  </div>
<% end %>


<div id='comment-form'>
  <%= render 'comment_form' %>
</div>

