<%= render 'shared/title', header: @post.title %>
<div class="post-options" %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= spacer %>
  <%= link_to "Delete", post_path(@post), data: {confirm: "Are you sure?", method: "delete"} %>
</div>


<div class='row'>
  <div class='well span8'>
    <p><%= @post.content %></p>
    <p>
      <span class='quiet'>posted by </span> <%= @post.user.email %>
      <small>at <%= fix_date_time(@post.created_at) %></small>
    </p>
  </div>
</div>


<h4> <%= "Comments (#{@post.comments.size})" %> </h4>
<% @comments.each do |comment| %>
  <div class='row'>
    <div class="well span8">
      <em>"<%= comment.content %>"</em>
        <span class='quiet'>posted by </span> <%= comment.user.email %>
        <small>at <%= fix_date_time(comment.created_at) %></small><br>
        <div class="comment-options">
          <small><%= link_to "Delete Comment", post_comment_path(@post, comment), data: {confirm: "Are you sure?", method: "delete"} %></small>
        </div>
    </div>
  </div>
<% end %>

<%= bootstrap_form_for([@post, @comment]) do |f| %>
  <%= f.text_area :content, label: "New Comment" %>
  <%= f.submit class: "btn btn-info btn-xs", value: "Create" %>
<% end %>

